<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Leaftaps" parallel="classes" thread-count="1">
	<groups>
		<run>
			<include name="Sanity"></include>
			<include name="Smoke"></include>
				
		</run>
	</groups>
	
	<test name="Create&amp;Editcase">
		<classes>
			
			<class name="Testcase.EditLead" />
			<class name="Testcase.DuplicateLead" />
			<class name="Testcase.DeleteLead" />
			<class name="Testcase.MergeLead" />
			<class name="Testcase.CreateLead" />
		</classes>
	</test> <!-- Create&Editcase -->
</suite> <!-- Leaftaps -->
